head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')

body 
    +home


template(name='home')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            +cloud
            //- if dev
            each docs
                +doc_card
            .ui.fluid.input
                input.subreddit(type='text' placeholder='import subreddit')
                .ui.icon.button.import_subreddit
                    i.reddit.icon
            .ui.fluid.input
                input.site(type='text' placeholder='import site')
                .ui.icon.button.import_site
                    i.globe.icon
            //- else 
            .ui.center.aligned.basic.segment
                +donate



template(name='doc_card')
    .ui.fluid.card
        .content 
            //- .ui.center.aligned.header #{title}
            a.ui.header.inline(href=url target='_window')
                if title 
                    |#{title}
                else 
                    |#{url}
            .ui.small.grey.inline.header #{subreddit}
            div
            if is_url
                i.large.link.icon
            if is_image
                img.ui.large.centered.image(src=url)
            if is_youtube
                i.large.youtube.icon
            .ui.fluid.styled.accordion
                if body
                    .title 
                        |content 
                        i.dropdown.icon
                    .content
                        .body_view
                            |!{body}
                if watson 
                    .title 
                        |analysis
                        i.dropdown.icon
                    .content
                        +watson_view
                //- .ui.button.delete_doc
                //-     i.remove.icon
                //-     |delete
            //- each tags
            //-     +tag_label


template(name='tag_label')
    .ui.small.basic.label.remove_tag #{this}



template(name='cloud')
    .ui.left.icon.input
        i.search.icon
        if selected_tags
            +inputAutocomplete settings=settings id="search" class="" autofocus='' autocomplete="off" 
        else
            input#search(type='text' autofocus='' autocomplete="off")
    if selected_tags
        #clear_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.circular.button
                strong #{this}
    each all_tags
        .ui.compact.basic.circular.button.select_tag(class=cloud_tag_class) 
            | #{this.name}

template(name='tag_result')
    .ui.label #{name}




template(name='donate')
    .ui.action.input
        input.donate_amount(type='number' min='1' placeholder='donation amount')
        .ui.icon.button.start_donation   
            i.right.chevron.icon
