head
    title dao
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')

template(name='layout')
    +nav
    +yield

template(name='mlayout')
    +yield


template(name='verification_confirmation')
    .ui.padded.grid 
        .row 
            .sixteen.wide.column 
                h1.ui.center.aligned.header your email is been verified



template(name='shortcut_modal')
    .ui.shortcut.modal
        .ui.header keyboard shortcuts
        .content
            .ui.large.list
                each shortcuts
                    .item 
                        .header #{combo}
                        .content #{action}


template(name='not_found')
    .ui.basic.center.aligned.padded.segment
        .ui.center.aligned.header page not found
        a.ui.button(href="/") 
            i.home.icon
            |home


template(name='tag_result')
    .ui.small.header #{name}



template(name='user_info')
    a.ui.compact.button(href="/user/#{user._id}/")
        if user.image_id
            img.ui.avatar.inline.image(src="{{c.url user.image_id width=300 height=300 gravity='face' crop='fill'}}")
        //- .visible.content
        |@#{user.username}
        //- .hidden.content
        //-     |view
        //-     i.right.chevron.icon



template(name='voting_full')
    div
    //- .ui.inline.header 
    //-     |voting
    .ui.big.icon.circular.button.upvote(title='upvote')
        i.thumbs.up.large.icon(class=upvote_class)
        //- |like
    .ui.big.icon.circular.button.downvote(title='downvote')
        i.thumbs.down.large.icon(class=downvote_class)
        //- |dislike
    //- if points
    //-     .ui.basic.label(title='points') #{points} pts
    //-     .ui.basic.label(title='anon points') #{anon_points} anon pts
    //- if upvoter_ids
    //-     .ui.small.grey.inline.header 
    //-         //- i.thumbs.up.outline.icon
    //-         |upvoters
    //-     each upvoter_ids
    //-         +user_info
    //- if downvoter_ids
    //-     .ui.small.grey.inline.header 
    //-         //- i.thumbs.up.outline.icon
    //-         |downvoters
    //-     each downvoter_ids
    //-         +user_info
