head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')

body 
    +home


template(name='home')
    .ui.center.aligned.basic.segment
        //- +nav
        +cloud
    each docs
        .ui.center.aligned.header #{title}
        .ui.text.container.body_view
            |!{body}
        //- each tags
        //-     .ui.label #{this}
        //- a.ui.fluid.button(href="/m/post/#{_id}/view")
        //-     |view
    .ui.center.aligned.basic.segment
        +donate


template(name='cloud')
    .ui.left.icon.input
        i.search.icon
        input#search(type='text')
        //- +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
    if selected_tags
        #clear_tags.ui.active.icon.large.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.large.button
                strong #{this}
    each all_tags
        .ui.large.button.select_tag(class=cloud_tag_class) 
            | #{this.name}

template(name='tag_result')
    .ui.label #{name}




template(name='donate')
    .ui.action.input
        input.donate_amount(type='number' min='1' placeholder='donation amount')
        .ui.icon.button.start_donation   
            i.right.chevron.icon
