
template(name='textarea_view')
    if field_value
        div
        //-     i.icon(class=field_value)
        .ui.inline.small.grey.header
            if title
                |#{title}
            else if label
                |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}            
        .f6 {{nl2br field_value}}


template(name='text_edit')
    div
    .ui.inline.small.grey.header
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
            //- +clear_value
    if subtitle
        .ui.small.grey.inline.header 
            |#{subtitle}
    .ui.fluid.icon.input
        input.edit_text(type='text' value=field_value placeholder=placeholder autocomplete="off")
//- 
//- 
//- template(name='clear_value')
//-     if field_value
//-         i.remove.link.large.icon.clear_value
//- 
//- 
//- 
template(name='array_view')
    if field_value
        div
        if label
            .ui.inline.small.grey.header(title=title)
                |#{label}
        each field_value
            .ui.basic.label #{this}

template(name='array_edit')
    div
    .ui.inline.small.grey.header tags
    .ui.input
        input.new_element(type='text' placeholder='+' autocomplete="off")
        //- +clear_value                
    each tags
        .ui.large.basic.label
            i.delete.icon.remove_element
            |#{this}

//- 
template(name='boolean_edit')
    //- div
    .ui.button.toggle_boolean(class="#{boolean_toggle_class} #{classes}" title=tooltip)
        |#{label}
        //- if field_value
        //-     i.green.checkmark.icon
        //- else
        //-     i.circle.outline.icon
        //- .ui.compact.button.toggle_boolean(class=boolean_toggle_class)
        //- .inline.f4
            //- if field_value
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        //- div
        //- 
        //- if field_value
        //-     if true_icon
        //-         i.large.green.icon(class=true_icon)
        //-     else
        //-         |yes
        //- else
        //-     if false_icon
        //-         i.large.red.icon(class=false_icon)
        //-     else
        //-         |no
//- 
//- 
template(name='boolean_view')
    div(title=title)
        .ui.inline.grey.small.header
            //- if title
                |#{title}
            if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        if field_value
            i.large.green.checkmark.icon

//- 
template(name='textarea_edit')
    .ui.form
        .field
            label
                if title
                    |#{title}
                else if label
                    |#{label}
                //- else if key
                //-     |#{key}
                //- else
                //-     |#{this}
            textarea.edit_textarea(rows='5') #{field_value}
