template(name='home')
    .ui.padded.stackable.grid
        .eight.wide.right.aligned.column
            +cloud
        .eight.wide.column
            each docs
                +doc_card
            .ui.fluid.transparent.input
                input.subreddit(type='text' placeholder='import subreddit')
                .ui.icon.button.import_subreddit
                    i.reddit.icon
            //- .ui.fluid.input
            //-     input.site(type='text' placeholder='import site')
            //-     .ui.icon.button.import_site
            //-         i.globe.icon
            .ui.center.aligned.basic.segment
                +donate



template(name='doc_card')
    .ui.fluid.basic.segment
        //- with rd
        //-     if thumbnail
        //-         img.ui.centered.rounded.image(src=thumbnail)
        a.ui.grey.header.inline(href=url target='_window')
            if title 
                |#{title}
            else 
                |#{url}
        .ui.small.grey.inline.header(title='domain') #{domain}
        if is_image 
            img.ui.fluid.image(src=url)
        .spacer
        .body_view.mediumscroll
            |!{body}
        .ui.icon.transparent.fluid.large.input 
            i.tag.icon 
            input.add_tag(type='text' placeholder='add tag')
        .ui.fluid.accordion
            //- if watson 
            //-     .title 
            //-         i.grey.line.chart.icon
            //-         |analysis
            //-         i.dropdown.icon
            //-     .content
            //-         +watson_view
            .title 
                i.grey.tags.icon
                each five_tags
                    .ui.label #{this}
                i.dropdown.icon
            .content
                each tags
                    +tag_label
            if dev
                .ui.icon.button.delete_doc
                    i.remove.icon
                if rd
                    .title 
                        i.grey.reddit.icon
                        i.dropdown.icon
                    .content
                        +jsonView json=rd
        span(title='reddit upvotes')
            i.chevron.up.grey.icon 
            |#{rd.ups}
        span(title='reddit downvotes')
            i.chevron.down.grey.icon 
            |#{rd.downs}
        .ui.label(title='subreddit')
            i.users.icon 
            |#{subreddit}
        if rd.author
            //- a.ui.large.link.label(href="https://www.reddit.com/user/#{rd.author}" target="_window" title='view reddit user info') 
            .ui.large.label
                i.user.outline.icon
                |#{rd.author}
        //- +voting
        //- if is_admin
        .ui.icon.button.refresh_post(title='refresh post')
            i.reddit.icon
        | #{when}

template(name='tag_label')
    .ui.label.remove_tag #{this}




template(name='donate')
    .ui.grid 
        .row
            .three.wide.column
                .ui.right.icon.transparent.input(title='donate')
                    input.donate_amount(type='number' min='1' placeholder='donate')
                    i.right.chevron.link.icon.start_donation   
