template(name='nav')
    .ui.grid
        .row
            .center.aligned.sixteen.wide.column
                a.ui.icon.big.circular.basic.button(href='/')
                    i.yin.yang.large.icon
                a.ui.icon.big.circular.basic.button(href='/users')
                    i.users.large.icon
                .ui.icon.big.circular.basic.button.add_question(title='add question')
                    i.large.plus.icon                
                unless currentUser
                    a.ui.big.circular.basic.button(href='/login') 
                        | login
                    a.ui.big.circular.basic.button(href='/register')
                        | register
                if currentUser
                    unless logging_out
                        a.ui.big.circular.basic.button(href="/user/#{currentUser._id}")
                            //- i.user.outline.icon
                            span #{currentUser.username} 
                    if logging_out
                        .ui.circular.basic.button
                            i.loading.circle.notch.icon

template(name='questions')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.center.aligned.column
                if currentUser
                    .ui.circular.button.view_answered(class=view_answered_class) voted
                    .ui.circular.button.view_unanswered(class=view_unanswered_class) unvoted
        .row
            .eight.wide.right.aligned.column
                +question_cloud
            .eight.wide.column
                .scrolling    
                    each questions
                        +question_segment


template(name='question_cloud')
    div
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     input#search(type='text' placeholder='search')
            //- +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
    if selected_tags
        #clear_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.circular.button
                strong #{this}
    each all_tags
        .ui.circular.basic.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}



template(name='question_segment')
    //- .ui.card    
    .ui.basic.segment
        .content
            a.ui.header(href="/question/#{_id}/view") #{title}
            //- each tags
            //-     .ui.basic.label #{this}
            //- +remove_button
            +voting_full
            //- if my_answer
            //-     //- .ui.header your answer
            //-     with my_answer
            //-         .ui.small.header #{choice_content }#{when} by #{_author_username}
            //- if upvoter_ids
            //-     i.grey.thumbs.up.outline.icon(title='upvoters')
            //-     each upvoter_ids
            //-         +user_info this
            //- if downvoter_ids
            //-     i.grey.thumbs.down.outline.icon(title='downvoters')
            //-     each downvoter_ids
            //-         +user_info this
            //- if points 
            //-     .ui.label #{points}
            //-     | (#{upvotes} / #{downvotes})
        //- a.ui.large.button(href="/question/#{_id}/view")
        //-     |view
        



template(name='question_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .ten.wide.center.aligned.column
                    .ui.large.inline.header #{title}
                    if can_edit
                        a.ui.icon.button(href="/question/#{_id}/edit")
                            i.pencil.icon
                        //- +remove_button
                    //- each tags 
                    //-     .ui.basic.label #{this}
                    +voting_full
            .centered.row
                .ten.wide.column            
                    .ui.inline.header stats
                    .ui.icon.small.button.calc_stats
                        i.refresh.icon
                    .ui.list 
                        //- .item #{view_count} views
                        .item #{vote_count} votes
                        .item up
                            each upvoter_ids
                                +user_info this
                        .item down
                            each downvoter_ids
                                +user_info this

template(name='question_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .ten.wide.center.aligned.column 
                    .ui.header 
                        | edit '#{title}'
                    a.ui.big.icon.circular.basic.button(href="/question/#{_id}/view" title='save')
                        //- |save
                        i.big.checkmark.icon
                    +remove_button
            .centered.row
                .ten.wide.column 
                    .ui.inline.grey.header question
                    .ui.fluid.big.input
                        input.edit_title(type='text' value=title autocomplete="off")
                    .ui.hidden.divider
                    .ui.inline.grey.header tags
                    div
                    .ui.icon.input
                        i.plus.icon
                        input.new_tag(type='text' autocomplete="off")
                    each tags
                        .ui.large.basic.label
                            i.delete.icon.remove_element
                            |#{this}
                



template(name='remove_button')
    .ui.icon.circular.basic.button.remove
        i.remove.icon



template(name='donate')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.inline.header 
                    |donate
                .ui.action.input
                    input.donate_amount(type='number' min='1' placeholder='amount')
                    .ui.icon.button.start_donation   
                        i.right.chevron.icon
                each donations
                    .ui.header 
                        strong $#{amount}
                        small #{when}:
                        | #{message}
            
