template(name='home')
    //- .ui.stackable.grid
    //-     .sixteen.wide.center.aligned.column
    +cloud
    //- .sixteen.wide.column
    each docs
        +doc_card
    if is_pro
        .centered.row
            .ui.center.aligned.ten.wide.column
                +donate


template(name='cloud')
    .cloud
        .spacer
        //- i.big.grey.yin.yang.icon

        .ui.left.icon.transparent.inverted.huge.input
            i.search.icon
            //- if selected_tags
            //-     +inputAutocomplete settings=tag_settings id="tag_search" class="" autofocus='' autocomplete="off" 
            //- else
            input#tag_search(type='text' autofocus='' autocomplete="off")
        .mobile.only.spacer
        if selected_tags
            #clear_tags.ui.white.icon.large.compact.button
                i.remove.icon
            each selected_tags
                .unselect_tag.ui.white.compact.button
                    .ui.header #{this}
        each all_tags
            .ui.black.compact.button.select_tag(title=count) 
                .ui.grey.inverted.header #{this.name}
                    if is_admin
                        small #{this.count}
                




template(name='doc_card')
    .ui.basic.segment
        a.ui.inverted.center.aligned.large.header(href=url target='_window' title='view site')
            //- if thumbnail.length
            //-     img.ui.centered.rounded.image(src=thumbnail)
            if title 
                |#{title}
            else 
                |#{url}
        //- with rd
        //-     if thumbnail
        //-         img.ui.centered.rounded.image(src=thumbnail)
        if is_image 
            img.ui.large.centered.rounded.image(src=url)
        unless is_admin
            .body_view
                if html
                    |!{decoded_html}
                else 
                    |!{body}
        .ui.transparent.icon.inverted.big.input 
            input.add_tag(type='text' placeholder='+ tag')
        each tags
            +tag_label
    if is_admin
        .ui.inverted.inline.header(title='domain') #{domain}
        .ui.inverted.header #{when}
        .ui.icon.button.delete_doc
            i.remove.icon
        .ui.icon.button.refresh_post(title='refresh post')
            i.reddit.icon
    //-             //- | #{when}

template(name='tag_label')
    .ui.black.labeled.icon.compact.button
        i.minus.icon.remove_tag(title='remove tag')
        span.add_tag(title='select tag') #{this}


        


template(name='donate')
    .ui.right.icon.inverted.transparent.input(title='donate')
        input.donate_amount(type='number' min='1' placeholder='donate')
        i.right.chevron.link.icon.start_donation   
