template(name='nav')
    .ui.attached.borderless.topnav.large.menu
        if is_loading
            .item
                i.large.loading.yin.yang.icon
        else 
            a.icon.large.item(href='/m/post') 
                i.yin.yang.icon
                //- img.ui.tiny.compact.inline.image(src="{{c.url 'mmm_logo_small' height=200 }}" title='Home')
        if is_teacher 
            each my_classrooms
                a.item(href="/classroom/#{_id}/students")
                    if image_id 
                        img.ui.avatar.inline.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else 
                        i.dashboard.icon
                    |#{title}
        .right.menu
            unless currentUser
                a.item(href='/login') 
                    i.sign.in.grey.icon
                    |log In
                a.item(href='/register')
                    i.user.plus.grey.icon
                    |sign up
            if currentUser
                if is_dev
                    a.icon.item.set_models(href="/m/model")
                        i.grey.database.icon
                unless logging_out
                    a.item(href="/user/#{currentUser.username}" class=user_nav_button_class)
                        if currentUser.profile_image_id
                            img.ui.avatar.inline.image(src="{{c.url currentUser.profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            i.user.outline.icon
                        span.mobile.hidden #{currentUser.name} 
                    a#logout.item(href='#' title='log out')
                        |log out
                        i.sign.out.grey.icon
                if logging_out
                    .item
                        i.loading.circle.notch.icon
