template(name='user_down')
    .ui.center.aligned.header user down
    .ui.stackable.grid 
        .three.column.row
            .column
                .ui.header #{current_user.down_count} down answers 
                each current_user.down_cloud
                    .ui.label #{name}
                        small #{count}    
                .scrolling
                    .ui.link.list
                        each down_answers
                            a.item(href="/question/#{_id}/view") 
                                .content 
                                    .header #{title}
                                    .meta 
                                        small #{when}
            .column
                .ui.header your overlap
                .ui.button.calc_down_overlap calc
                .ui.header #{union_doc.down_points} down matching points
                //- each union_doc.down_list
                //-     .ui.label #{this}
                each union_doc.down_cloud
                    .ui.label #{name} 
                        small #{count}
            .column
                .ui.header your down
                .ui.header #{currentUser.down_count} down answers 
                each currentUser.down_cloud
                    .ui.label #{name}
                        small #{count}
                .ui.header most matched users
                
                
template(name='user_up')
    .ui.center.aligned.header user up
    .ui.stackable.grid 
        .three.column.row
            .column
                .ui.header #{current_user.up_count} up answers 
                each current_user.up_cloud
                    .ui.label #{name}
                        small #{count}    
                .scrolling
                    .ui.link.list
                        each up_answers
                            a.item(href="/question/#{_id}/view") 
                                .content 
                                    .header #{title}
                                    .meta 
                                        small #{when}
            .column
                .ui.header your overlap
                .ui.button.calc_up_overlap calc
                .ui.header #{union_doc.up_points} up points
                //- each union_doc.up_list
                //-     .ui.label #{this}
                each union_doc.up_cloud
                    .ui.label #{name} 
                        small #{count}
            .column
                .ui.header your up
                .ui.header #{currentUser.up_count} up answers 
                each currentUser.up_cloud
                    .ui.label #{name}
                        small #{count}
                .ui.header most matched users
