template(name='profile_layout')
    +nav
    with current_user
        .ui.stackable.padded.grid
            .row
                .three.wide.column
                    img.ui.centered.small.circular.profile_image.image(src="{{c.url current_user.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    //- .ui.center.aligned.basic.segment
                        //- a(href="/user/#{user._id}")
                    .ui.center.aligned.inline.header.recalc_stats
                        |#{current_user.name}'s dashboard
            
                    .ui.center.aligned.inline.header
                        | #{user.first_name} #{user.last_name}
                    .ui.small.inline.header @#{user.username}        
                    //- a.ui.large.button.logout_other_clients(href="#" title='logout other clients')
                    //-     //- i.globe.icon
                    //-     |log out other clients
                    
                    .ui.fluid.vertical.menu
                        a.item(href="/user/#{user._id}/" class="{{isActiveRoute regex=user_dashboard}}")
                            |dashboard
                        //- a.item(href="/user/#{user._id}/authored" class="{{isActiveRoute regex=user_authored}}")
                        //-     |authored
                        //- a.item(href="/user/#{user._id}/correct" class="{{isActiveRoute regex=user_correct}}")
                        //-     |correct
                        //- a.item(href="/user/#{user._id}/incorrect" class="{{isActiveRoute regex=user_incorrect}}")
                        //-     |incorrect
                        //- a.item(href="/user/#{user._id}/liked" class="{{isActiveRoute regex=user_liked}}")
                        //-     |liked
                        //- a.item(href="/user/#{user._id}/disliked" class="{{isActiveRoute regex=user_disliked}}")
                        //-     |disliked
                        //- a.item(href="/user/#{user._id}/answered" class="{{isActiveRoute regex=user_answered}}")
                        //-     |answered
                        a.item(href="/user/#{user._id}/yes" class="{{isActiveRoute regex=user_yes}}")
                            |yes
                        a.item(href="/user/#{user._id}/no" class="{{isActiveRoute regex=user_no}}")
                            |no
                        //- a.item(href="/user/#{user._id}/tags" class="{{isActiveRoute regex=user_tags}}")
                        //-     |tags
                        //- a.item(href="/user/#{user._id}/social" class="{{isActiveRoute regex=user_social}}")
                        //-     |social
                        //- a.item(href="/user/#{user._id}/offers" class="{{isActiveRoute regex=user_social}}")
                        //-     |offers
                        //- a.item(href="/user/#{user._id}/messages" class="{{isActiveRoute regex=user_mail}}")
                        //-     |messages
                    if is_current_user
                        a.ui.button(href="/user/#{current_user._id}/edit")
                            //- i.cog.grey.icon
                            |settings
                        .ui.button.logout
                            //- i.sign.out.alternate.icon
                            |log out

                    //- if is_admin
                    //-     .ui.basic.segment
                    //-         .ui.header 
                    //-             i.shield.icon
                    //-             |roles
                    //-         each roles
                    //-             .ui.basic.label #{this}
                .thirteen.wide.column
                    //- each user_sections
                    //-     a.ui.button(href="/user/#{user._id}/")
                    //-         //- i.icon(class=icon)
                    //-         +ismall name=icon
                    //-         |#{title}

                    +yield    
                
                    
template(name='user_dashboard')                    
    .ui.stackable.padded.grid
        .three.column.row
            .column
                .ui.header #{current_user.answered_count} answered questions 
                each current_user.answered_cloud
                    .ui.label #{name}
                        //- small #{count}
                .ui.fluid.accordion 
                    .title 
                        |list
                        i.dropdown.icon
                    .content
                        .ui.link.list
                            each answered_questions
                                .item 
                                    .content 
                                        .header #{title}
                                        .meta 
                                            small #{when}
            //- .column
            //-     .ui.header #{current_user.unanswered_count} unanswered questions 
            //-     each current_user.unanswered_cloud
            //-         .ui.label #{name}
            //-             //- small #{count}
            //-     .ui.fluid.accordion 
            //-         .title 
            //-             |list
            //-             i.dropdown.icon
            //-         .content
            //-             .ui.link.list
            //-                 each unanswered_questions
            //-                     .item
            //-                         .content 
            //-                             .header #{title}
            //-                             .meta 
            //-                                 small #{when}
            //- .column
            //-     .ui.header #{current_user.correct_count} correct answers 
            //-     each current_user.correct_cloud
            //-         .ui.label #{name}
            //-             //- small #{count}    
            //-     .ui.fluid.accordion 
            //-         .title 
            //-             |list
            //-             i.dropdown.icon
            //-         .content
            //-             .ui.link.list
            //-                 each correct_answers
            //-                     a.item(href="/answer_session/#{_id}/view") 
            //-                         .content 
            //-                             .header #{question.title}
            //-                             .meta 
            //-                                 small #{when}
            //- .column
            //-     .ui.header #{current_user.incorrect_count} incorrect answers 
            //-     each current_user.incorrect_cloud
            //-         .ui.label #{name}
            //-             //- small #{count}    
            //- 
            //-     .ui.fluid.accordion 
            //-         .title 
            //-             |list
            //-             i.dropdown.icon
            //-         .content
            //-             .ui.link.list
            //-                 each incorrect_answers
            //-                     .content 
            //-                         .header #{question.title}
            //-                         .meta 
            //-                             small #{when}
            .column
                .ui.header #{current_user.yes_count} yes answers 
                each current_user.yes_cloud
                    .ui.label #{name}
                    //- small #{count}    
                .ui.fluid.accordion 
                    .title 
                        |list
                        i.dropdown.icon
                    .content
                        .ui.link.list
                            each yes_answers
                                .content 
                                    .header #{question.title}
                                    .meta 
                                        small #{when}
            .column
                .ui.header #{current_user.no_count} no answers 
                each current_user.no_cloud
                    .ui.label #{name}
                    //- small #{count}       
                .ui.fluid.accordion 
                    .title 
                        |list
                        i.dropdown.icon
                    .content
                        .ui.link.list
                            each no_answers
                                .content 
                                    .header #{question.title}
                                    .meta 
                                        small #{when}
            //- .column
            //-     .ui.header #{current_user.liked_count} liked questions 
            //-     each current_user.liked_cloud
            //-         .ui.label #{name}
            //-             //- small #{count}  
            //-     .ui.fluid.accordion 
            //-         .title 
            //-             |list
            //-             i.dropdown.icon
            //-         .content
            //-             .ui.link.list
            //-                 each liked_questions
            //-                     .content 
            //-                         .header #{title}
            //-                         .meta 
            //-                             small #{when}
            //- .column
            //-     .ui.header #{current_user.disliked_count} disliked questions 
            //-     each current_user.disliked_cloud
            //-         .ui.label #{name}
            //-             //- small #{count}
            //-     .ui.fluid.accordion 
            //-         .title 
            //-             |list
            //-             i.dropdown.icon
            //-         .content
            //-             .ui.link.list
            //-                 each disliked_questions
            //-                     .content 
            //-                         .header #{title}
            //-                         .meta 
            //-                             small #{when}
            //- 
        
        
        
template(name='user_offers_small')
    .ui.fluid.segment
        .ui.grey.header 
            i.tasks.icon
            |offers
        .ui.list
            each available_offers
                .ui.item
                    |#{title}
                    strong #{credit_amount}c
                    .ui.small.button.accept_offer
                        i.green.checkmark.icon
                        |accept
                    .ui.small.button.reject_offer
                        i.red.cancel.icon
                        |reject
        
template(name='user_actions')
    .ui.fluid.segment
        .ui.grey.header 
            i.target.icon
            |actions        
        .ui.large.list
            each user_actions
                a.item(href=link) #{title}
