template(name='profile_layout')
    +nav
    with current_user
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    //- .ui.fluid.button.toggle_size
                    //-     i.bars.icon
                    img.ui.centered.small.circular.profile_image.image(src="{{c.url current_user.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    .ui.center.aligned.basic.segment
                        //- a(href="/user/#{user._id}")
                        .ui.center.aligned.header
                            | #{user.first_name} #{user.last_name}
                            //- .ui.small.header @#{user.username}        
                        //- a.ui.large.button.logout_other_clients(href="#" title='logout other clients')
                        //-     //- i.globe.icon
                        //-     +ismall name='globe' 
                        //-     |log out other clients
                    
                    .ui.fluid.vertical.large.menu
                        a.item(href="/user/#{user._id}/money" class="{{isActiveRoute regex=user_money}}")
                            i.money.grey.icon
                            |money
                        a.item(href="/user/#{user._id}/tags" class="{{isActiveRoute regex=user_tags}}")
                            i.tags.icon
                            |tags
                        a.item(href="/user/#{user._id}/social" class="{{isActiveRoute regex=user_social}}")
                            i.chat.icon
                            |social
                        a.item(href="/user/#{user._id}/offers" class="{{isActiveRoute regex=user_social}}")
                            i.chat.icon
                            |offers
                        a.item(href="/user/#{user._id}/messages" class="{{isActiveRoute regex=user_mail}}")
                            i.envelope.icon
                            |messages
                        a.item(href="/user/#{user._id}/posts" class="{{isActiveRoute regex=user_posts}}")
                            i.blog.icon
                            |posts
                    if is_current_user
                        a.ui.large.fluid.button(href="/user/#{current_user._id}/edit")
                            i.cog.grey.icon
                            |profile
                        a.ui.fluid.button.logout(href="#")
                            i.sign.out.alternate.icon
                            |log out

                    if is_admin
                        .ui.basic.segment
                            .ui.header 
                                i.shield.icon
                                |roles
                            each roles
                                .ui.basic.label #{this}
                .twelve.wide.column
                    //- each user_sections
                    //-     a.ui.button(href="/user/#{user._id}/")
                    //-         //- i.icon(class=icon)
                    //-         +ismall name=icon
                    //-         |#{title}

                    +yield    
                
                    
template(name='user_dashboard')                    
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header.recalc_student_stats
                    i.dashboard.icon
                    |#{current_user.name}'s dashboard
        
        
        
template(name='user_offers_small')
    .ui.fluid.segment
        .ui.grey.header 
            i.tasks.icon
            |offers
        .ui.list
            each available_offers
                .ui.item
                    |#{title}
                    strong #{credit_amount}c
                    .ui.small.button.accept_offer
                        i.green.checkmark.icon
                        |accept
                    .ui.small.button.reject_offer
                        i.red.cancel.icon
                        |reject
        
template(name='user_actions')
    .ui.fluid.segment
        .ui.grey.header 
            i.target.icon
            |actions        
        .ui.large.list
            each user_actions
                a.item(href=link) #{title}
