template(name='profile_layout')
    +nav
    with current_user
        .ui.stackable.padded.grid
            .row
                .three.wide.column
                    img.ui.centered.small.circular.profile_image.image(src="{{c.url current_user.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    //- .ui.center.aligned.basic.segment
                        //- a(href="/user/#{user._id}")
                    .ui.center.aligned.inline.header.recalc_stats
                        |#{current_user.name}'s dashboard
            
                    .ui.center.aligned.inline.header
                        | #{user.first_name} #{user.last_name}
                    .ui.small.inline.header @#{user.username}        
                    //- a.ui.large.button.logout_other_clients(href="#" title='logout other clients')
                    //-     //- i.globe.icon
                    //-     |log out other clients
                    
                    .ui.fluid.vertical.menu
                        a.item(href="/user/#{user._id}/")
                            |dashboard
                        a.item(href="/user/#{user._id}/up" class)
                            |up
                        a.item(href="/user/#{user._id}/down")
                            |down
                    if is_current_user
                        a.ui.button(href="/user/#{current_user._id}/edit")
                            |settings
                        .ui.button.logout
                            |log out

                .thirteen.wide.column
                    +yield    
                
                    
template(name='user_dashboard')                    
    .ui.stackable.padded.grid
        .three.column.row
            .column
                .ui.header #{current_user.answered_count} answered questions 
                each current_user.answered_cloud
                    .ui.label #{name}
                        //- small #{count}
                .ui.fluid.accordion 
                    .title 
                        |list
                        i.dropdown.icon
                    .content
                        .ui.link.list
                            each answered_questions
                                .item 
                                    .content 
                                        .header #{title}
                                        .meta 
                                            small #{when}
            .column
                .ui.header #{current_user.up_count} up answers 
                each current_user.up_cloud
                    .ui.label #{name}
                    //- small #{count}    
                .ui.fluid.accordion 
                    .title 
                        |list
                        i.dropdown.icon
                    .content
                        .ui.link.list
                            each up_answers
                                .content 
                                    .header #{question.title}
                                    .meta 
                                        small #{when}
            .column
                .ui.header #{current_user.down_count} down answers 
                each current_user.down_cloud
                    .ui.label #{name}
                    //- small #{count}       
                .ui.fluid.accordion 
                    .title 
                        |list
                        i.dropdown.icon
                    .content
                        .ui.link.list
                            each down_answers
                                .content 
                                    .header #{question.title}
                                    .meta 
                                        small #{when}
        
